@page "/LetsCook"


@using CookingBuddy.Pages.LetsCook.model;
<div class="container-fluid mt-auto flex-grow-1">


<div class="row">
    <div class="ratio ratio-21x9">
        <iframe src=@data.videourl title="YouTube video" allowfullscreen></iframe>
    </div>

</div>


<div class="row">
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    @for(var @item=0;@item< @data.StepDescritpionPair.Length;@item++){
        if(@item == 0){
                    <button class="nav-link active" id="nav-@data.StepDescritpionPair[0].Item1-tab" data-bs-toggle="tab" data-bs-target="#nav-@data.StepDescritpionPair[0].Item1" type="button" role="tab" aria-controls="nav-@data.StepDescritpionPair[0].Item1" aria-selected="true">
            @data.StepDescritpionPair[0].Item1
        </button>
        }else{
         <button class="nav-link" id="nav-@data.StepDescritpionPair[@item].Item1-tab" data-bs-toggle="tab" data-bs-target="#nav-@data.StepDescritpionPair[@item].Item1" type="button" role="tab" aria-controls="nav-@data.StepDescritpionPair[@item].Item1" aria-selected="false">
                        @data.StepDescritpionPair[@item].Item1
        </button>
        }
    }
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
        @for (var @item = 0; @item < @data.StepDescritpionPair.Length; @item++)
        {
            if (item == 0)
            {
                <div class="tab-pane fade show active" id="nav-@data.StepDescritpionPair[0].Item1" role="tabpanel" aria-labelledby="nav-@data.StepDescritpionPair[0].Item1-tab">
                    <ul>
                    @foreach (var @i in @data.StepDescritpionPair[0].Item2.Split(",")){

                                <li style="font-size:30px">@i</li>
                        }
                    </ul>
                </div>
            }
            else
            {
                <div class="tab-pane fade" id="nav-@data.StepDescritpionPair[@item].Item1" role="tabpanel" aria-labelledby="nav-@data.StepDescritpionPair[@item].Item1-tab">
                    <ul>
                        @foreach (var @i in @data.StepDescritpionPair[@item].Item2.Split(","))
                        {

                            <li style="font-size:30px">@i</li>
                        }
                    </ul>


                </div>
            }
        }
</div>
</div>
    <div class="row align-items-end mt-auto row-eq-height">
        <div class="col bottom ">
            
            <button type="button" class="btn btn-dark">
                Prev
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                </svg>
            </button>
        </div>
        <div class="col bottom ">
            <button type="button" class="btn btn-dark">
                Finished Cooking
            </button>
        </div>
        <div class="col bottom ">
            
            <button type="button" class="btn btn-dark">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                </svg>
                Next
            </button>
        </div>
  </div>
</div>
@code {
    LetsCookModel data = new LetsCookModel("//youtube.com/embed/h5gcJjOSDv4", new (string,string)[]{("Sauce", "Dice the onions, Saute in Butter, remove after 5 mins"),
    ("Grilling", "Grill steak on each side for 5 minutes, Add salt and pepper to taste, Add sauce,Remove steak from pan,Let cool for 5 mins"),
    ("Serving", "Add garnish,Serve meal"),("Final-Step", "Serve meal")});
}
