@page "/learnView"


@using CookingBuddy.Pages.LetsCook.model;
<div class="container-fluid mt-auto flex-grow-1">


<div class="row">
    <div class="ratio ratio-21x9">
        @*<iframe src=@data.videourl title="YouTube video" allowfullscreen></iframe>*@
            <img src="https://www.simplyrecipes.com/thmb/xEfGmfePAyDjSGCAWQpsEWZE1nE=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/__opt__aboutcom__coeus__resources__content_migration__simply_recipes__uploads__2009__01__cut-onion-in-half-f4026d694da947ae9c9534876719d638.jpg" />
    </div>

</div>


<div class="row">
    <div class="tab-content" id="nav-tabContent">
        @for (var @item = 0; @item < @data.StepDescritpionPair.Length; @item++)
        {
            if (item == 0)
            {
                <div class="tab-pane fade show active" id="nav-@data.StepDescritpionPair[0].Item1" role="tabpanel" aria-labelledby="nav-@data.StepDescritpionPair[0].Item1-tab">
                    <ul>
                        @foreach (var @i in @data.StepDescritpionPair[0].Item2.Split(","))
                        {

                            <li style="font-size:30px">@i</li>
                        }
                    </ul>
                </div>
            }
            else
            {
                <div class="tab-pane fade" id="nav-@data.StepDescritpionPair[@item].Item1" role="tabpanel" aria-labelledby="nav-@data.StepDescritpionPair[@item].Item1-tab">
                    <ul>
                        @foreach (var @i in @data.StepDescritpionPair[@item].Item2.Split(","))
                        {

                            <li style="font-size:30px">@i</li>
                        }
                    </ul>


                </div>
            }
        }
    </div>
</div>
    <div class="row align-items-end mt-auto row-eq-height">
        <div class="col bottom ">
            
            <button type="button" class="btn btn-dark">
                Prev
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                </svg>
            </button>
        </div>
        <div class="col bottom ">
            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#survey">
                Finished
            </button>
            <div class="modal fade" id="survey" tabindex="-1" aria-labelledby="surveyLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Survey</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>
                                How did you like this dish? Help the author perfect their recipe by leaving feedback!
                            </p>
                            <form>
                                <div class=" d-flex justify-content-center">
                                    <div class="mb-3 d-inline-flex align-items-center">
                                        <label for="rating" class="form-label">Rating <i class="bi bi-star"></i></label>
                                        <div class="input-group">
                                            <select class="form-select" id="rating">
                                                <option selected>...</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                            </select>
                                        </div>
                                        <span class="input-group-text">/5</span>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="description" class="form-label">Description</label>
                                    <textarea class="form-control" rows="2"></textarea>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <div class="btn-group d-flex">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">later</button>
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col bottom ">
            
            <button type="button" class="btn btn-dark">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                </svg>
                Next
            </button>
        </div>
  </div>
</div>
@code {
    
    LetsCookModel data = new LetsCookModel("youtube.com/embed/h5gcJjOSDv4", new (string,string)[]{("Sauce", "Continue chopping the onions until you reach the end of the onion"),
    ("Grilling", "Grill steak on each side for 5 minutes, Add salt and pepper to taste, Add sauce,Remove steak from pan,Let cool for 5 mins"),
    ("Serving", "Add garnish,Serve meal"),("Final-Step", "")});
}
